*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: 100vh;
}

.calculator-container{
  margin-top: 2rem;
  background-color: #fff;
  width: 26rem;
  height: 37.5rem;
  border-radius: 1rem;
  overflow: hidden;
}

.display-container{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: rgb(32, 32, 32);
  color: #fff;
  width: 100%;
  height: 10rem;
  font-size: 2rem;
  margin-right: 10px;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

.buttons-container {
  display: grid;
  gap: 10px;
  padding: 2rem;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  background-color: rgb(52, 52, 71);
}

.buttons-container button {
  background-color: rgb(125, 125, 169);
  color: #fff;
  border: none;
  border-radius: 0.2rem;
  height: 70px;
  cursor: pointer;
}

.clear-btn{
  grid-column-start: span 3;
}