*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: 100vh;
}

.calculator-container{
  margin-top: 2rem;
  background-color: #fff;
  width: 40%;
  height: 37.5rem;
  border-radius: 1rem;
  overflow: hidden;
  min-width: 40%;
}

.display-container{
  display: flex;
  justify-content: center;
  background-color: rgb(67, 67, 101);
  padding-bottom: 10px;
}

.display-container .container{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: rgb(67, 67, 101);
  color: #fff;
  width: 80%;
  height: 10rem;
  font-size: 2rem;
}

.buttons-container {
  display: flex;
  justify-content: center;
  background-color: rgb(52, 52, 71);
}

.buttons-container .container{
  background-color: rgb(52, 52, 71);
  height: 27.5rem;
  width: 80%;
  margin: 0 auto;
}

.buttons-container button {
  background-color: rgb(125, 125, 169);
  color: #fff;
  border: none;
  border-radius: 0.2rem;
  width: 70px;
  height: 70px;
  margin-left: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.buttons-container .clear-btn{
  display: block;
  width: 100%;
  margin-top: 1rem;
}